<!DOCTYPE html>
<html>
  <head>
    <title>Pintorescobubble</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="canonical" href="http://localhost:3000/welcome/index">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
